/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --accent-color: #FF0070;
    --main-title-color: #DB00FF;
    --text-dark: #000028;
    --text-light: #F1B2CE;
    --cover-image-url: url("../images/cover-image-dark.png");

    --border-decoration-color: var(--accent-color);
    --theme-button-color: var(--accent-color);
    --theme-button-color-hover: rgba(255, 0, 112, 0.4);
    --section-title-color: var(--accent-color);
    --page-backgrund-color: var(--text-dark);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
